@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-bg {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      38deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(151, 71, 223, 1) 47%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c1bcc2 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c1bcc2;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
